/* Réinitialisation de la mise en page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style du fond */
body {
    font-family: Arial, sans-serif;
    background-color: #141414;
    color: #fff;
    text-align: center;
}


/* Style du header */
header {
    background-color: #000; /* Couleur de fond */
    color: #fff; /* Couleur du texte */
}

/* Style de la barre de navigation */
.navbar {
    width: 100%; /* Prend toute la largeur du header */
}

/* Style des éléments de la liste */
.navbar ul {
    list-style: none; /* Supprime les puces de liste */
    display: flex; /* Affichage en ligne */
}

/* Style des éléments de la liste */
/* Style des éléments de la liste */
.navbar li {
    display: flex; /* Permet l'alignement vertical du texte */
    align-items: center; /* Centre le texte verticalement */
    margin-left: 20px;
    margin-right: 20px; /* Marge à droite pour espacer les éléments */
}


/* Style des liens (texte) */
.navbar a {
    text-decoration: none; /* Supprime la soulignement des liens */
    color: #fff; /* Couleur du texte des liens */
    font-size: 18px; /* Taille du texte */
    text-align: center; /* Centre le texte horizontalement */
}

/* Change la couleur du lien lorsqu'il est survolé */
.navbar a:hover {
    color: red; /* Couleur du texte au survol */
}

/* Style pour la barre de recherche et le bouton de recherche */
.navbar .search-bar {
    margin-left: auto; /* on place la recherche tout a droite */
}

/* Style pour le bouton de recherche */
.navbar .search-bar button {
    background-color: #e50914;
    color: #fff;
    font-size: 18px;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px; /* Marge à gauche pour espacer du champ de recherche */
}


/* style du conteneur principal */
.ctr-main {
    padding: 20px;
}

/* Titre de la page */
h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

/* p pour "sélectionner la langue de recherche */
p{
    margin-bottom: 20px;
}

.language-selection {
    display: flex; 
    align-items: center; 
    justify-content: center;
    grid-gap: 10px;
    margin-right: 20px;
}


 .input {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
} 


/* Résultats de la recherche */
#result {
    margin-top: 40px;
    padding: 20px;
    font-size: 18px;
    color: #d7f4ff; /* Couleur du message d'erreur */
}

/* Style pour les résultats de recherche */
h2 {
    font-size: 24px;
    margin-bottom: 30px;
    color: #21dae7; /* Couleur du titre */
}

.ul-result {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Quatre colonnes par ligne */
    grid-gap: 70px; /* Espacement entre les éléments */
}

li {
    font-size: 18px;
}


.loading-spinner {
    text-align: center;
    margin-top: 40px;
    display: none; /* Cachez le spinner par défaut */
}

.loading-spinner i {
    font-size: 48px; /* Taille de l'icône du spinner */
    color: #ffffff; /* Couleur du spinner (par exemple, bleue) */
}

/******* Style pour le toggle switch ***********/

/* L'interrupteur - la boîte autour du curseur */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Cacher la case à cocher HTML par défaut */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Le curseur */
.switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.switch .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.switch input:checked + .slider {
    background-color: #2196F3;
}

.switch input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

.switch input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Curseurs arrondis */
.switch .slider.round {
    border-radius: 34px;
}

.switch .slider.round:before {
    border-radius: 50%;
}
