.category-title {
    font-size: 24px;
    padding: 10px;
}
  
.series-categorie-container { 
    display: block;
    margin-bottom: 10px;
}

.serie-link {
    transition: color 0.1s;
    color: #2ef8ff; /* Couleur de lien claire */
}

.serie-link:hover {
    color: #0056b3; /* Couleur de lien au survol */
}