.ctr-main {
    margin-left: 20px; /* Vous pouvez ajuster cette valeur selon vos préférences */
    text-align: left;  /* Pour aligner le texte à gauche à l'intérieur du conteneur */
}

.category-title {
    font-size: 24px;
    padding: 10px;
}
  
.series-categorie-container { 
    display: block;
    margin-bottom: 10px;
}

.serie-link {
    transition: color 0.1s;
    color: #2ef8ff; /* Couleur de lien claire */
}

.serie-link:hover {
    background-color: #ccc;
    text-decoration: none;
}

/* .category-container {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
} */