.category-title {
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
    margin-bottom: 10px;
}
  
.series-container { 
    margin-bottom: 20px;
}

.serie-link {
    transition: color 0.2s;
}

.serie-link:hover {
    background-color: #ccc;
    text-decoration: none;
}

.category-container {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}